!!! XML
!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Embedded Erlang &mdash; News
    = `haml head.haml`
  %body
    #mainframe
      = `haml header.haml`
      = `haml menu.haml`

      .content
        %h1 News

        = `haml #{"news/2011-02-17.haml"}`
        = `haml #{"news/2010-06-09.haml"}`
        = `haml #{"news/2010-06-02.haml"}`

      = `haml footer.haml`
